Bootstrap: localimage
From: {{ENV_IMAGE}}

%files

    {{TAR_NAME}} {{TAR_TARGET}}

%post

    export HDF5_ROOT_DIR={{HDF5_ROOT}}
    export PYTHONEXE=python3

    BUILD_DIR="{{BUILD_DIR}}"
    mkdir -p $BUILD_DIR
    cd $BUILD_DIR

    tar -zxvf {{TAR_TARGET}} --strip-components 1
    rm {{TAR_TARGET}}

    echo "Cleaning up old build files..."
    make clean

    echo "Starting compilation..."
    make -j {{JOBS}}

    rm -rf {{CLEAN_ITEMS}}

%environment

    export FI_PROVIDER=verbs
    export I_MPI_FABRICS=shm:ofi
    export LD_LIBRARY_PATH={{HDF5_ROOT}}/lib:$LD_LIBRARY_PATH
    export PATH={{BUILD_DIR}}:$PATH

%runscript

    exec {{EXEC_NAME}} "$@"
